# TPZASM: TDL ZASM / PSA PASM compatible assembler - .gitignore
# Copyright (c) 2026 Jeffrey H. Johnson <johnsonjh.dev@gmail.com>
# SPDX-License-Identifier: MIT-0
# scspell-id: 558a0a86-6334-11f1-a4cd-246e96298730

################################################################################

*~
/#*#
*.$$$
a.out
A.OUT
/asm
*.bak
*.BAK
/.bob
/.cache/
*.cmd
*.CMD
*.com
*.COM
compile_commands.events.json
compile_commands.json
*.core
core
core-*
*.exe
*.EXE
/GPATH
/GRTAGS
/GTAGS
/hexcom
log.pvs
/*.lst
/m80
main
*.map
*.MAP
massif.out*
/NOTE*
*.o
*.O
*.obj
*.OBJ
/*.off/
/oracle-out/
*.out
out.txt
*.pak
*.PAK
/pasm
/pasm2
*.pop
*.POP
pvsreport
*.PVS-Studio.cfg
*.PVS-Studio.i
__pycache__/
/.scannerwork/
/src/_chtmp.c
symtab.txt
/*.t
/tags
/TAGS
/.test.c
/test_expr
/.test.out
*.tmp
*.TMP
/tpzasm/
/tpzasm.c
*.uaem
/*UME.md
*.unittest
/work/
/zasm

################################################################################

# binary releases
!bindist/**

################################################################################
