# Copyright (c) 2026 Jeffrey H. Johnson <johnsonjh.dev@gmail.com>
# SPDX-License-Identifier: MIT-0
# scspell-id: 558a0a86-6334-11f1-a4cd-246e96298730

################################################################################

*~
/#*#
*.$$$
a.out
A.OUT
/asm
*.bak
*.BAK
/.cache/
*.cmd
*.CMD
*.com
*.COM
compile_commands.events.json
compile_commands.json
*.core
core
core-*
*.exe
*.EXE
/GPATH
/GRTAGS
/GTAGS
/hexcom
log.pvs
*.map
*.MAP
/*UME.md
NOTE.txt
*.o
*.O
*.obj
*.OBJ
/*.off/
/oracle-out/
*.out
*.pak
*.PAK
/pasm
*.pop
*.POP
pvsreport
*.PVS-Studio.cfg
*.PVS-Studio.i
__pycache__/
/.scannerwork/
/src/_chtmp.c
/*.t
/tags
/TAGS
/test_expr
*.tmp
*.TMP
*.unittest
/work/
/zasm

################################################################################
